<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3c.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<description>Hola Mundo</description>
	<display-name>Prueba</display-name>
	
	<filter>
	<filter-name>privfilter</filter-name>
	<filter-class>com.greenweb.filter.FiltroPriv</filter-class>
	</filter>
	
	<filter-mapping>
	<filter-name>privfilter</filter-name>
	<url-pattern>/privada/*</url-pattern>
	</filter-mapping>
	
	<filter>
	<filter-name>alufilter</filter-name>
	<filter-class>com.greenweb.filter.FiltroAlu</filter-class>
	</filter>
	
	<filter-mapping>
	<filter-name>alufilter</filter-name>
	<url-pattern>/gato/*</url-pattern>
	</filter-mapping>
	
	<filter>
	<filter-name>proffilter</filter-name>
	<filter-class>com.greenweb.filter.FiltroProf</filter-class>
	</filter>
	
	<filter-mapping>
	<filter-name>proffilter</filter-name>
	<url-pattern>/prof/*</url-pattern>
	</filter-mapping>
	
	<filter>
	<filter-name>has</filter-name>
	<filter-class>com.greenweb.filter.FiltroHasta</filter-class>
	</filter>
	
	<filter-mapping>
	<filter-name>has</filter-name>
	<url-pattern>/preguntas.jsp</url-pattern>
	</filter-mapping>
	
	<filter>
	<filter-name>has2</filter-name>
	<filter-class>com.greenweb.filter.FiltroHasta2</filter-class>
	</filter>
	
	<filter-mapping>
	<filter-name>has2</filter-name>
	<url-pattern>/mas5/*</url-pattern>
	</filter-mapping>
	
	<filter>
	<filter-name>has3</filter-name>
	<filter-class>com.greenweb.filter.FiltroHasta3</filter-class>
	</filter>
	
	<filter-mapping>
	<filter-name>has3</filter-name>
	<url-pattern>/noticias.jsp</url-pattern>
	</filter-mapping>
	
	<filter>
	<filter-name>has4</filter-name>
	<filter-class>com.greenweb.filter.FiltroHasta4</filter-class>
	</filter>
	
	<filter-mapping>
	<filter-name>has4</filter-name>
	<url-pattern>/enlaces.jsp</url-pattern>
	</filter-mapping>
	
	<filter>
	<filter-name>has5</filter-name>
	<filter-class>com.greenweb.filter.FiltroHasta5</filter-class>
	</filter>
	
	<filter-mapping>
	<filter-name>has5</filter-name>
	<url-pattern>/privada/enlaces_priv.jsp</url-pattern>
	</filter-mapping>
	
	<filter>
	<filter-name>has6</filter-name>
	<filter-class>com.greenweb.filter.FiltroHasta6</filter-class>
	</filter>
	
	<filter-mapping>
	<filter-name>has6</filter-name>
	<url-pattern>/alu/enlaces_alu.jsp</url-pattern>
	</filter-mapping>
	
	<filter>
	<filter-name>has7</filter-name>
	<filter-class>com.greenweb.filter.FiltroHasta7</filter-class>
	</filter>
	
	<filter-mapping>
	<filter-name>has7</filter-name>
	<url-pattern>/prof/enlaces_prof.jsp</url-pattern>
	</filter-mapping>
	
	
		
</web-app>
