
body{
	margin: 0;
}

#main-header{
	text-align: center;
	color: white;
	padding:40px 0;
	background:url('../images/giphy.gif') no-repeat;
	background-size:100% 100%;
	display:block;
	margin:0;
}
.navegacion{
	 background: #022c03;
}

#main-header img {
	margin-left: 80px;
	width: 100px;
	height: 100px;
	float: left;
}

.container{
	width: 80%;
	height: auto;
	margin:auto;
	padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #022c03;

}

li{
	float: left;
}

 li:hover ul{
	text-align: center;
}

li a{
	display:block;
	color: white;
	font-size: 18px;
	padding: 20px;
	font-family: Arial;
	text-decoration: none;
}

 a:hover {
	background-color: #c6ddef;
	color: black;
}

.ALaDerecha{
	float: right;
}


#cerrarSesion a{
	float: right;
	display:block;
	color: white;
	font-size: 18px;
	padding: 20px;
	font-family: Arial;
	text-decoration: none;
}






