body{
	margin: 0;
}

.frames2{
	margin-top: 30px;
}
.NoticeContainer{
	width:80%;
	margin:auto;
	overflow:hidden;
}

.NoticeHeader{
	position: relative;
}

.NoticeHeader a{
	color: white;
	text-decoration: none;
}

.IrPreg{
	position: absolute;
	top: -10px;
	right:10%;
	color:white;
	background-color:#0099ff; 
	padding:10px;
	border-radius: 5px;
	border: 3px solid white;
}

video{
	max-width: 80%;
	min-width: 50%
	height: auto;
	display:inline-block;
	float:right;
	margin-left:50px;
	margin-right: 50px;
	margin-bottom: 20px;
}

p{
	display:inline-block;
	margin-left: 30px;
	margin-right: 30px;
}


.NoticeContainer h3{
	text-align: center;
	background-color: #051e47;
	color: white;
	text-decoration: none;
	margin-bottom: 0;
}

h3 a{
	display:block;
	color: white;
	padding: 20px;
	text-decoration: none;
}

section{
 	margin-top:10px;
}

.InfoNoticia{
	background-color: rgba(73, 153, 193,0.3);
}


