body{
	background:url(../images/img1.jpg) no-repeat;
}
.container{
	width:80%;
	margin: 100px auto;
	padding:20px; 
	overflow:hidden;
	background:rgba(0,0,0,0.5);
	color:white;
}

.container h1{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.container p {
	font-family: 'PT Serif', serif;
}

.noticia{
	display:inline-block;
	heigth: 400px;
}

.pregunta2 h3{
	color: white;
	text-align: center;
}

 input {
 	margin-left:10%;
 }


.pregunta2 .respuesta {
	margin-bottom: 10px;
	margin-left: 40%;
}

.pregunta2 select{
		display:block;
		margin-top: 20;	
		padding-left: 200;	
}

.opcion2{
	display: block;
	padding: 5px 0 5px 0;
	margin: 5px 0 5px 0;

}

.pregunta2 h2 {
    font-family: 'PT Serif', serif;
    font-family: 'Cabin', sans-serif;
	font-size: 18px;
	color: #85f2b3;
}

.pregunta2 li{
	list-style: none;
	color: white;
	margin-left: 30%;
}


video{
	max-width: 80%;
	height: auto;
	float:right;
	margin:20px; 
}
