body{
	background:url(../images/img1.jpg) no-repeat;
}
.container{
	width:80%;
	margin: 100px auto; 
	overflow:hidden;
	background:rgba(0,0,0,0.5);
	color:white;
}

.container h1{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.container p {
	font-family: 'PT Serif', serif;
}

.container{
	padding:20px;
}

.pregunta{
	text-align: center;
	border: 1px solid;
	border-color: #FF000;	
}

.pregunta h3{
	color: white;
}

.pregunta input {
	margin-bottom: 10px;
}

.pregunta select{
		display:block;
		margin-top: 20;	
		padding-left: 200;	
}
.reto{
	margin-top: 100px;
}
	
.reto .option{
	display:block;
	margin-top: 5px;
	margin-bottom: 5px;

}
.reto h3{
	text-align: center;
	color:white;
}

.reto p{
	color: white;
}

.opcion{
	display: block;
	padding: 5px 0 5px 0;
	margin: 5px 0 5px 0;

}

.pregunta h2 {
    font-family: 'PT Serif', serif;
    font-family: 'Cabin', sans-serif;
	font-size: 18px;
	color: #85f2b3;
}

.pregunta li{
	list-style: none;
	color: white;
}
section{
 	margin-top:10px;
}
video{
	max-width: 80%;
	height: auto;
	float:right;
	margin:20px; 
}
