body{
	margin: 0;
	background:#77e610;
	background-position: center;
	background: url(../images/bosque.jpg);
}

#ProfPic{
	position: absolute;
  	top: -50px;
  	left: 35%;
	display: block;
	width:150px;
    height:150px;
    border-radius:78px;
    border:3px solid black;
}
.infoUser{
	padding-top: 5px;
	padding-bottom: 5px;
	top:30%;
	width: 550px;
	position: absolute;
	align-content: center;
}


.box2{
	width:500px;
	height: 350px;
	background: rgba(0,0,0,0.4);
	margin: 70px auto;
	position: relative;
	border: 3px solid black;
	border-radius: 20px 20px 20px 20px;
	background: grey;
}

.container {
	margin: 50px auto;
	width: 600px;
	top:700px;
}

.container table {
	width: 100%;
	background-color: white;
	border: solid 2px;
	border-collapse: collapse;
	text-align: center;
}

.container table caption {
	margin: 0px;
	padding: 30px;
	font-family: verdana;
	font-size: 24px;
	color: #2c460b;
	font-weight: bold;
}


.container table td{
	padding: 20px;
}

.container thead {
	background-color: #246355;
}

.container tr:nth-child(even){
	background-color: #96e92e;
}

.container tr:hover td {
	background-color: #369681;
}


.container button {
	width:135px;
	margin: -10px 425px;
	height:30px;
	background:#2c460b;
	border:1px solid #232323;
	color: #fff;
	box-shadow:0px 2px 0px #000;
}

.botones{
	display: block;
	margin-left: 40%;
}

.error{
	color: #FF0000;
}